@import 'variables';

.container {
  padding: $padding-large;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: $primary-text-color;
      opacity: 0;
      transition: opacity 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;

      &:hover {
        opacity: 1;
      }
    }
  }
}