@import 'variables';
@import 'mixins';

header {
  @include flex-center;
  justify-content: space-between;
  @include padding($padding-small);
  @include background-color($primary-bg-color);
  @extend .text-white;

  img {
    height: 50px;
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin: 0 15px;

        a {
          @extend .text-white;
          text-decoration: none;
        }
      }
    }
  }

  #menu-toggle {
    display: none;
  }

  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
}