@import 'variables';
@import 'mixins';

@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;

    .menu-icon {
      display: block;
      order: 1;
    }

    img {
      order: 2;
      margin-left: auto;
    }

    nav ul {
      display: none;
      flex-direction: column;
      background-color: $primary-bg-color;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      @include padding($padding-small);
      z-index: 1000;

      li {
        margin: 10px 0;

        a {
          @include padding(10px 0);
          display: block;
          text-align: center;
        }
      }
    }

    #menu-toggle:checked + .menu-icon + nav ul {
      display: flex;
    }
  }

  .container {
    @include padding($padding-small);
    flex-direction: column;
    align-items: center;

    .item {
      width: 100%;
    }
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer-section {
      width: 100%;
      text-align: left;
      margin-bottom: 10px;

      h4 {
        font-size: 16px;
      }

      p,
      .social-links li {
        font-size: 12px;
      }
    }
  }

  .gallery-container {
    grid-template-columns: 1fr;
  }

  .custom-gallery {
    grid-template-columns: 1fr; // Una columna, cada imagen debajo de otra
  }
}

@media (max-width: 1024px) {
  .container {
    @include padding($padding-medium);

    .item {
      width: 45%;
    }
  }
}

@media (min-width: 1200px) {
  .htd {
    height: 90vh;
  }
}