$primary-bg-color: #333;
$primary-text-color: white;
$familia-family: Arial, sans-serif;
$padding-large: 50px;
$padding-medium: 30px;
$padding-small: 20px;
$margin-small: 15px;
$footer-section-width: 30%;